:root{
    --primary-color:whitesmoke;
    --font-family:'Cormorant Garamond', serif;
    --branding-color:radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);
}
body h1 {
    font-family: var(--font-family);
}
h1{
    font-size: 40px;
    font-weight: bold;
}
.hero{
    background: var(--branding-color);
text-align: center;
padding: 160px;
}
.hero h2{
    font-family: var(--font-family);
    font-size: 28px;
    font-weight: normal;
    margin: 0;
}
.btn-dark{
    border-radius: 4px;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 28px;
    padding: 12px 20px;
}
.email-link{
    display: inline-block;
    padding: 10px 20px;
    background-color: var();
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.bitmoji{
    width: 230px;
    height: auto;
}
.about-page h2{
    font-size: 26px;

}
.about-page h1{
    font-size: 48px;
    font-family: var(--font-family);
}
.content-container{
    padding: 160px 20px ;
}
.img-fluid{
    height: 55px;
    width:auto;
    display: inline-block;
    margin-right: 10px;
}
footer{
    margin: 80px 0;
}
footer .links{
    margin: 0 20px;
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 28px;
    color: var(--branding-color);
    background-color: var(--branding-color);
}
.links a{
    margin-right: 30px;
}
.image{
    width: 400px;
    height: auto;
}
@media (max-width: 800px){
    h1{
        font-size: 45px;
        line-height: 1.8;
    
    }
h2{
    font-size:44px;
}

}